<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
           	<PatternLayout pattern="************ %logger{36}.%M - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
		<logger name="com.opensymphony.xwork2">
	    <level value="OFF" />
		</logger>
		
		<logger name="freemarker.cache">
		    <level value="OFF" />
		</logger>
		
		<logger name="freemarker.beans">
		    <level value="OFF" />
		</logger>
		
		<logger name="org.apache.struts2">
		    <level value="OFF" />
		</logger>
		
	</Loggers>
	
	
	
</Configuration> 