@CHARSET "UTF-8";

body {
	background: #eeeeee;
}



input, textarea, select, option {
	background-color: #80ff80;
}

input, textarea, select {
	padding: 3px;
	border: 1px solid #F7B8F7;
	border-radius: 5px;
	width: 200px;
	box-shadow: 1px 1px 2px #C0C0C0 inset;
}
/* ===== menu ====================== */
ul#menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul#menu>li { /* li directement sous ul d'id menu */
	float: left; /*pour IE*/
	margin-left: 3px;
}

ul#menu  li  a {
	display: block;
	float: left;
	width: 150px;
	line-height: 40px; /* hauteur */
	background: #adadad;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

ul#menu li a:hover {
	background: #044B74;
	font-weight: bold;
	color: #87C4E8; /* bleu fonce */
}